<div id="cart-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg relative">
        <h2 class="text-xl font-bold mb-4">Carrito</h2>
        <div id="cart-items" class="mb-4">
            <!-- Productos del carrito -->
        </div>
        <div class="flex justify-end space-x-4">
            <button id="clear-cart" class="buttons-bg buttons-bg-red text-white px-4 py-2 rounded">Borrar Carrito</button>
            <button id="checkout" class="buttons-bg buttons-bg-save text-white px-4 py-2 rounded">Crear Orden</button>
        </div>
        <button id="close-modal" class="absolute top-0 right-0 mt-2 mr-2 text-gray-700">
            &times;
        </button>
    </div>
</div>
